/*stílusok külön fileból*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1500px;
}

.container {
    background: lightblue;
    width: 800px;
    margin: 0 auto;
}

.myBox {
    margin: 50px 0;
    background: khaki;
    text-align: center;
    border:3px solid red;
}

.item {
    width: 150px;
    height: 150px;
    border:1px solid black;
    display: inline-block;
    margin: 10px;
}
