@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;800&display=swap');

:root {
    --base-font: 'Open Sans', Arial, Helvetica, sans-serif;
    --title-font: 'Poppins', Arial, Helvetica, sans-serif;
    --white: #fff;
    --dark-color: #212529;
    --light-grey: #eee;
    --middle-grey: #777;
    --dark-grey: #333;
    --theme-color: darkorange; /*#ffb32f;*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

html, body {
    height: 100%;
    font-family: var(--base-font);
    font-size: 16px;
}

body {
    /*    background: khaki;*/
}

section {
    /*background: #ddd;*/
    /*border: 2px solid red;*/
    /*min-height:250px;*/
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

h1, h2 {
    font-family: var(--title-font);
    font-weight: 700;
}

p {
    margin: 1em 0;
}

img {
    max-width: 100%;
}

h2 > a {
    color: var(--dark-color);
}

h2 > a:hover {
    color: var(--theme-color);
}

.flex {
    display: flex;
    /*mobile-first miatt*/
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    color: var(--dark-color);
    background-color: var(--light-grey);
    padding: .5em 1em;
    margin: 1em 0;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 500ms ease-in-out;
}

.btn:hover {
    color: var(--white);
    background-color: var(--dark-color);
}

.btn-primary {
    color: var(--white);
    background-color: var(--theme-color);
}

.btn-primary:hover {
    background-color: var(--dark-color);
}


.grey-bg {
    background: var(--light-grey);
}

/*Szekció címek*/
.sectionTitle {
    padding-top: 65px;
    max-width: 480px;
    margin: 0 auto 45px;
    text-align: center;
    color: var(--dark-color);
}

.sectionTitle > span {
    color: var(--theme-color);
    font-weight: 700;
    font-family: var(--title-font);
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
}

/*vonalak*/
.sectionTitle > span:before,
.sectionTitle > span:after {
    background: var(--theme-color);
    height: 2px;
    width: 30px;
    margin: 0 1em;
    display: inline-block;
    content: '';
}

.sectionTitle > h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.375em;
}

.main-header {
    background: rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid var(--middle-grey);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    width: 100%;

    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 400;

    z-index:10000;
}

.sticky {
    position: fixed;
    background: var(--white);
}
.sticky .main-nav a {
    color: var(--dark-color);
}

.main-header .logo {

}

.main-nav {
    display: none;
}

.main-nav a {
    text-transform: uppercase;
    display: block;
    margin-left: 1em;
    border-bottom: 2px solid transparent;
    color: var(--white);
    font-weight: 500;

    transition:all 350ms ease-in-out;
}

.main-nav a:hover {
    border-color: var(--theme-color);
    color: var(--theme-color);
}

.grid-container {
    display: grid;
    grid-gap: 1em;
}

.main-header > .container {
    position: relative;
}

.menu-toggle {
    /*   background: lime;*/
    position: absolute;
    right: 1em;
    top: 4px;
    font-size: 1.3em;
    /*mert button elem lett*/
    padding: 4px 10px;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
}

/*css menu vezérlés (toggle)*/
/*.menu-toggle:focus + .main-nav {
    display: flex;
}*/

/**HERO blokk**/
.hero {
    background: deeppink url('https://picsum.photos/1920/1200') center no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/**SKILL**/
/*progress bars*/
.progress-bars {

}

.progress-bars > li {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.progress-bars > li > .title {
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.progress-bars > li > .bar {
    background: var(--middle-grey);
}

.progress-bars > li > .bar > .inner {
    background: var(--theme-color);
    height: 1em;
}


/*SKILL FOOTER*/
#skill > footer {
    background-color: var(--dark-color);
    color: vaR(--white);
    padding: 2em 0;
    text-align: center;
}

#skill > footer > .flex {
    justify-content: space-around;
    align-items: center;
}

/*SERVICES*/
#services .box {
    border: 1px solid var(--light-grey);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1em;
    background: var(--white);
    text-align: center;
}

#services .box > header {
    border-bottom: 1px solid var(--light-grey);
    margin: 0 -1em;
    position: relative;
    height: 2em;
    overflow: hidden;
}

#services .box > header > .nr {
    color: var(--light-grey);
    position: absolute;
    right: 15px;
    bottom: -.7em;
    font-family: var(--title-font);
    font-weight: 800;
    font-size: 2em;
    /*anim*/
    transition: bottom 300ms ease-in-out;
}

#services .box:hover > header > .nr {
    bottom: -.2em;
}

#services .box > h3 {
    font-family: var(--title-font);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    margin: 1em auto;
}

#services .box > .icon {
    background: var(--theme-color);
    color: var(--white);
    font-size: 3em;
    padding: .5em;
    margin-bottom: .5em;
    /*anim*/
    transition: transform 300ms ease-in-out;
}

#services .box:hover > .icon {
    transform: scaleX(-1);
}

/*Blog szekció*/
#blog header {
    position: relative;
}

#blog .comments {
    position: absolute;
    top: .5em;
    right: .5em;
    background: var(--theme-color);
    color: var(--white);
    padding: .25em .5em;
}

#blog .box {
    display: flex;
    flex-direction: column;
    padding: 0 1em 1.5em;
    background-color: var(--white);
    box-shadow: 0 0 7px rgba(0, 0, 0, .3);
}

#blog .box header {
    margin: 0 -1em;
    overflow: hidden;
}

#blog .box > header > img {
    display: inline-block;
    transition: transform 350ms ease-in-out;
    object-fit: cover;
}

#blog .box:hover > header > img {
    transform: scale(1.3);
}

#blog .box > h2 {
    flex: 1;

    font-size: 1.1em;
}


#blog .box > p {
    color: var(--middle-grey);
    text-align: justify;
    hyphens: auto;
}

#blog footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-color);
    font-weight: bold;
}

#blog footer .author {
    display: flex;
    align-items: center;

    background: var(--dark-color);
    color: var(--white);
    padding: 5px;
    border-radius: 100px;
}

#blog .author span {
    margin: 0 5px
}

#blog .author a {
    color: var(--light-grey);
}

#blog footer .author > img {
    width: 50px;
    border-radius: 50px;
    line-height: 0;
}


/***CONTACT SZEKCIÓ*/
.info > li {
    padding-bottom: 1em;
}

.info > li > b {
    display: block;
    text-transform: capitalize;
}

.info a {
    color: var(--dark-color);
    transition: all 500ms ease-in-out;
}

.info a:hover {
    color: var(--theme-color);
}

.social a {
    font-size: 1.5em;
    margin-right: .5em;
    display: inline-block;
}

.social a:hover {
    transform: scaleX(-1);
}

label {
    display: flex;
    flex-direction: column;
}

.contact-form > button {
    justify-self: start;
}

input, textarea {
    padding: .5em;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--light-grey);
    font-family: var(--base-font);
    transition: border 500ms ease-in-out;
    font-size: 1em;
}

textarea {
    min-height: 180px;
}

input:focus,
textarea:focus {
    border-bottom-color: var(--dark-color);
}

::placeholder {
    color: var(--middle-grey);
}

.error {
    color: red;
    font-style: italic;
    font-size: 0.8em;
}

/*tablet*/
@media screen and (min-width: 768px) {
    body {
        /*background:pink;*/
    }

    .container {
        width: 80%;
        padding: 0;
    }

    .grid-1-1 {
        grid-template-columns: 1fr 1fr;
    }

    .grid-1-2 {
        grid-template-columns: 1fr 2fr;
    }
    .grid-tablet-1-1-1 {
        grid-template-columns: repeat(3, 1fr);
    }
    .contact-form > label:nth-child(3),
    .contact-form > label:nth-child(4) {
        grid-column: span 2;
    }

    #skill .flex {
        flex-direction: row;
        gap: 3em;
    }

    #skill .flex > .box {
        flex: 1;
    }
}

/*desktop*/
@media screen and (min-width: 1230px) {
    body {
        /*background:orange;*/
    }

    .container {
        width: 1200px;
    }

    .main-header .flex {
        flex-direction: row;
        align-items: center;
    }


    .main-nav {
        display: flex !important; /*desktopon tuti látszódnia kell*/
    }

    /*menu toggle nem kell*/
    .menu-toggle {
        display: none;
    }

    .grid-1-1-1 {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* --------------------------------

        Primary style HERO söveg animációhoz CD text wrapper

        -------------------------------- */
.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}
.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    font-style: normal;
}
.cd-words-wrapper i {
    font-style: normal;
}
.cd-words-wrapper b.is-visible {
    position: relative;
}
.no-js .cd-words-wrapper b {
    opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}

/* --------------------------------

xpush

-------------------------------- */
.cd-headline.push b {
    opacity: 0;
}
.cd-headline.push b.is-visible {
    opacity: 1;
    -webkit-animation: push-in 0.6s;
    -moz-animation: push-in 0.6s;
    animation: push-in 0.6s;
}
.cd-headline.push b.is-hidden {
    -webkit-animation: push-out 0.6s;
    -moz-animation: push-out 0.6s;
    animation: push-out 0.6s;
}

@-webkit-keyframes push-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes push-in {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(10%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@keyframes push-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -ms-transform: translateX(10%);
        -o-transform: translateX(10%);
        transform: translateX(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes push-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateX(110%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
}
@-moz-keyframes push-out {
    0% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
    60% {
        opacity: 0;
        -moz-transform: translateX(110%);
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }
}
@keyframes push-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateX(110%);
        -moz-transform: translateX(110%);
        -ms-transform: translateX(110%);
        -o-transform: translateX(110%);
        transform: translateX(110%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
}

/*portfolio grid*/
.grid-wrap {
    line-height: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: auto 1fr auto;
    grid-gap: 0px;
    background-color: rgba(76, 77, 79, 0.6);
    min-height: 220px;
}

.grid-wrap .item {
    overflow: hidden;
    display: none;
    transform: scale(.2, .2);
}

@keyframes enter {

    0% {
        transform: scale(.2, .2);
    }
    100% {
        transform: scale(1, 1);

    }
}


.grid-wrap .item .tools {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(76, 77, 79, 0.8);
    -webkit-box-shadow: inset 0 0 48px 0 rgba(0, 0, 0, 0.5);
    -ms-box-shadow: inset 0 0 48px 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: inset 0 0 48px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 48px 0 rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.grid-wrap .item .tools a {
    color: #fff;
    opacity: 0.7;
    display: block;
    padding: 18px 32px;
    font-size: 24px;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.grid-wrap img {
    height: 220px;
    width: 100%;
    /*height: auto;*/
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.grid-wrap .item:hover .tools {
    visibility: visible;
    opacity: 1;
}

.grid-wrap .item:hover .tools a {
    padding: 18px 16px;
}

.grid-wrap .show {
    display: block;
    animation: enter .3s forwards;
}
